* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Taviraj', sans-serif;
}

body {
  color: #333;
  background: #ff6200 !important;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.navbar-brand img {
  width: 150px;
}

.navbar-nav .nav-link {
  color: #fff;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: gray;
}

.btn-outline-light {
  border-radius: 50px;
  border: 2px solid #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: gray;
  border-color: #fff;
}


.slider {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  animation: slide 10s infinite;
}

.slides img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}


.container1 {
  background-color: rgb(255, 167, 99);
  padding: 20px;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 80px;
  margin-top: 20px;
}

@keyframes textclip {
  to {
      background-position: 200% center;
  }
}


@media (max-width: 576px) {
  .animate-charcter {
      font-size: 40px;
  }
}


.container-card {
  background-color: rgba(249, 144, 64, 0.813);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.img-main {
  width: 100%;
  border-radius: 10px;
  border: solid 3px;
  height: auto;
  display: block;
  position: relative;
}

.img-main:hover {
  transform: scale(1.05);
  transition: all 0.2s ease 0s;
}


.container-faq {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(255, 129, 60);
  padding: 40px;
}

.color {
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
}

.blue {
  background-color: #0C57F6;
}

.color:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}


@media (max-width: 576px) {
  .container-faq {
      grid-template-columns: 1fr;
      grid-gap: 20px;
  }
}


.container-map {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 111, 0);
  color: #fff;
  padding: 50px;
  line-height: 2;
}

.container-map-left, .container-map-right {
  flex: 1 1 300px;
  margin: 10px;
}

.container-map-left h1 {
  font-size: 40px;
}

.container-map-left h4 {
  font-weight: 800;
  font-size: 16px;
}

.container-map-left p {
  font-size: 16px;
}

.container-map-right iframe {
  width: 100%;
  height: 100%;
}


footer {
  background-color: #000000;
  padding: 30px;
  text-align: center;
}

.social-link {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border-color 0.3s ease;
  color: white;
  text-decoration: none;
}

.social-link:hover {
  background-color: #333;
  border-color: black;
}


@media (max-width: 768px) {
  .navbar-nav {
      text-align: center;
  }

  .navbar-nav .nav-item {
      margin: 5px 0;
  }

  .animate-charcter {
      font-size: 50px;
  }

  .container-map {
      flex-direction: column;
      padding: 20px;
  }

  .container-map-left h1 {
      font-size: 30px;
  }
}
